<%= form_for @micropost, :html => {:multipart => true} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.hidden_field :gallery_id %>
        <%= f.text_area :content, placeholder: "ツイート内容", class: "form-control" %>
        <%= f.label :image %>
        <%= image_tag @micropost.image.thumb.url if @micropost.image? %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.hidden_field :image_cache %>
    </div>
    <%= f.submit "ツイート", class: "btn btn-primary" %>
<% end %>    